:root {
    --input-field-border-radius: 8px;
    --container-border-radius: 8px;
    --input-field-padding: 16px;
    --sidebar-mobile-z-index: 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html,
input,
button {
    font-family: var(--Inter);
}
body {
    background-color: var(--orange-accent-100);
    color: var(--primary-text-color);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-16);
    line-height: 130%;
}
a {
    text-decoration: none;
    color: initial;
}
a._orange {
    color: var(--orange-accent-500);
    font-weight: var(--font-weight-medium);
}

button {
    background: none;
}